In [1]:
import pandas as pd
import psycopg2
import os, json
from sqlalchemy import create_engine
import plotly.express as px
import requests

In [2]:
path = "C:/Users/priya/phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_state=os.listdir(path)


df1={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in agg_state:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              df1['Transaction_type'].append(Name)
              df1['Transaction_count'].append(count)
              df1['Transaction_amount'].append(amount)
              df1['State'].append(i)
              df1['Year'].append(j)
              df1['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_transaction=pd.DataFrame(df1)

In [3]:
Agg_transaction

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [4]:
path = "C:/Users/priya/phonepe/pulse/data/aggregated/insurance/country/india/state/"
insu_state=os.listdir(path)

df2={'State':[], 'Year':[],'Quarter':[],'insurance_type':[], 'insurance_count':[], 'insurance_amount':[]}

for i in agg_state:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              df2['insurance_type'].append(Name)
              df2['insurance_count'].append(count)
              df2['insurance_amount'].append(amount)
              df2['State'].append(i)
              df2['Year'].append(j)
              df2['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_insurance=pd.DataFrame(df2)

In [5]:
Agg_insurance

,State,Year,Quarter,insurance_type,insurance_count,insurance_amount
0,andaman-&-nicobar-islands,2020,2,Insurance,6,1360.0
1,andaman-&-nicobar-islands,2020,3,Insurance,41,15380.0
2,andaman-&-nicobar-islands,2020,4,Insurance,124,157975.0
3,andaman-&-nicobar-islands,2021,1,Insurance,225,244266.0
4,andaman-&-nicobar-islands,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,west-bengal,2023,4,Insurance,72712,100365562.0
678,west-bengal,2024,1,Insurance,79576,104987909.0
679,west-bengal,2024,2,Insurance,67048,89476633.0
680,west-bengal,2024,3,Insurance,77158,107451766.0
681,west-bengal,2024,4,Insurance,91719,120602777.0

In [6]:
Agg_insurance.head()

,State,Year,Quarter,insurance_type,insurance_count,insurance_amount
0,andaman-&-nicobar-islands,2020,2,Insurance,6,1360.0
1,andaman-&-nicobar-islands,2020,3,Insurance,41,15380.0
2,andaman-&-nicobar-islands,2020,4,Insurance,124,157975.0
3,andaman-&-nicobar-islands,2021,1,Insurance,225,244266.0
4,andaman-&-nicobar-islands,2021,2,Insurance,137,181504.0

In [7]:
path = "C:/Users/priya/phonepe/pulse/data/aggregated/user/country/india/state/"
user_state = os.listdir(path)

df3 = {
    'State': [], 
    'Year': [], 
    'Quarter': [], 
    'brand': [],
    'appOpens': [], 
    'registeredUsers': [], 
    'transaction_percentage': []
}

for i in user_state:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)

            if D.get('data') and D['data'].get('usersByDevice'):
                for z in D['data']['usersByDevice']:
                    df3['appOpens'].append(z.get('appOpens', 0))
                    df3['brand'].append(z.get('brand', 'Unknown'))
                    df3['registeredUsers'].append(z.get('count', 0))
                    df3['transaction_percentage'].append(z.get('percentage', 0))
                    df3['State'].append(i)
                    df3['Year'].append(j)
                    df3['Quarter'].append(int(k.replace('.json', '')))

Agg_user = pd.DataFrame(df3)

In [8]:
Agg_user.head()

,State,Year,Quarter,brand,appOpens,registeredUsers,transaction_percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,0,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,0,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,0,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,0,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,0,332,0.049258

In [9]:
#######mapp#####

In [9]:

path = "C:/Users/priya/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_state = os.listdir(path)

df1 = {
    'State': [], 
    'Year': [], 
    'Quarter': [],
    'Transaction_type': [], 
    'Transaction_count': [], 
    'Transaction_amount': []
}

for i in map_state:  # each state
    for j in os.listdir(path + i + "/"):  # each year
        for k in os.listdir(path + i + "/" + j + "/"):  # each quarter file
            with open(path + i + "/" + j + "/" + k, 'r') as Data:
                D = json.load(Data)

            # Check which key exists in the JSON
            if 'transactionData' in D['data']:
                for z in D['data']['transactionData']:
                    df1['State'].append(i)
                    df1['Year'].append(j)
                    df1['Quarter'].append(int(k.strip('.json')))
                    df1['Transaction_type'].append(z['name'])
                    df1['Transaction_count'].append(z['paymentInstruments'][0]['count'])
                    df1['Transaction_amount'].append(z['paymentInstruments'][0]['amount'])

            elif 'hoverDataList' in D['data']:
                for z in D['data']['hoverDataList']:
                    df1['State'].append(i)
                    df1['Year'].append(j)
                    df1['Quarter'].append(int(k.strip('.json')))
                    df1['Transaction_type'].append(z['name'])
                    df1['Transaction_count'].append(z['metric'][0]['count'])
                    df1['Transaction_amount'].append(z['metric'][0]['amount'])

map_transaction = pd.DataFrame(df1)

In [10]:
map_transaction .head()

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07

In [11]:
path = "C:/Users/priya/phonepe/pulse/data/map/insurance/hover/country/india/state/"
map_state = os.listdir(path)

df1 = {
    'State': [], 
    'Year': [], 
    'Quarter': [], 
    'District': [],
    'insurance_count': [],
    'insurance_amount': []
}

for i in map_state:
    p_i = os.path.join(path, i)
    map_yr = os.listdir(p_i)
    
    for j in map_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)
        
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            
            with open(p_k, 'r') as Data:
             D = json.load(Data)

# Case 1: district-level transactions
            if "districts" in D["data"]:
                 for z in D["data"]["districts"]:
                    if "metric" in z:  # transaction schema
                     name = z["entityName"] if "entityName" in z else z["name"]
                     count = z["metric"].get("count", 0)
                     amount = z["metric"].get("amount", 0)
                    df1["District"].append(name)
                 df1["insurance_count"].append(count)
                 df1["insurance_amount"].append(amount)
                 df1["State"].append(i)
                 df1["Year"].append(j)
                 df1["Quarter"].append(int(k.strip(".json")))

# Case 2: hoverDataList schema
            elif "hoverDataList" in D["data"]:
                for z in D["data"]["hoverDataList"]:
                  name = z["name"]
                  metric = z["metric"][0]
                  count = metric.get("count", 0)
                  amount = metric.get("amount", 0)
                df1["District"].append(name)
                df1["insurance_count"].append(count)
                df1["insurance_amount"].append(amount)
                df1["State"].append(i)
                df1["Year"].append(j)
                df1["Quarter"].append(int(k.strip(".json")))

map_insurance=pd.DataFrame(df1)

In [12]:
map_insurance

,State,Year,Quarter,District,insurance_count,insurance_amount
0,andaman-&-nicobar-islands,2020,2,nicobars district,3,565.0
1,andaman-&-nicobar-islands,2020,3,nicobars district,5,1448.0
2,andaman-&-nicobar-islands,2020,4,nicobars district,2,2747.0
3,andaman-&-nicobar-islands,2021,1,nicobars district,13,13244.0
4,andaman-&-nicobar-islands,2021,2,nicobars district,4,15089.0
...,...,...,...,...,...,...
679,west-bengal,2023,4,darjiling district,2762,4044883.0
680,west-bengal,2024,1,darjiling district,3020,4306734.0
681,west-bengal,2024,2,darjiling district,2758,4207151.0
682,west-bengal,2024,3,darjiling district,2,10621.0
683,west-bengal,2024,4,purba medinipur district,3559,4439061.0

In [13]:
path = "C:/Users/priya/phonepe/pulse/data/map/user/hover/country/india/state/"
map_state = os.listdir(path)

df3 = {
    'State': [], 
    'Year': [], 
    'Quarter': [], 
    'District': [], 
    'appOpens': [], 
    'registeredUsers': [] 
}

for i in map_state:  
    p_i = path + i + "/"  
    map_yr = os.listdir(p_i)  
    for j in map_yr:  
        p_j = p_i + j + "/"  
        map_yr_list = os.listdir(p_j)  
        for k in map_yr_list:  
            p_k = p_j + k  
            with open(p_k, 'r') as Data:  
                D = json.load(Data)

            # Extract district-level hoverData
            if 'hoverData' in D['data'] and D['data']['hoverData'] is not None:
                for district, values in D['data']['hoverData'].items():
                    df3['District'].append(district)
                    df3['registeredUsers'].append(values['registeredUsers'])
                    df3['appOpens'].append(values['appOpens'])
                    df3['State'].append(i)
                    df3['Year'].append(j)
                    df3['Quarter'].append(int(k.strip('.json')))

map_user = pd.DataFrame(df3)

In [14]:
map_user

,State,Year,Quarter,District,appOpens,registeredUsers
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,0,632
1,andaman-&-nicobar-islands,2018,1,south andaman district,0,5846
2,andaman-&-nicobar-islands,2018,1,nicobars district,0,262
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,0,911
4,andaman-&-nicobar-islands,2018,2,south andaman district,0,8143
...,...,...,...,...,...,...
20603,west-bengal,2024,4,alipurduar district,31842355,475688
20604,west-bengal,2024,4,paschim bardhaman district,80543469,1468252
20605,west-bengal,2024,4,nadia district,98740305,1861738
20606,west-bengal,2024,4,birbhum district,73465525,1114220
20607,west-bengal,2024,4,purba medinipur district,108350777,1717074

In [17]:
##top###

In [15]:
path = "C:/Users/priya/phonepe/pulse/data/top/transaction/country/india/state/"
map_state = os.listdir(path)

df3 = {
    'State': [], 
    'Year': [], 
    'Quarter': [], 
    'District': [],
    'Transaction_count': [], 
    'Transaction_amount': []
}

for i in map_state:  
    p_i = os.path.join(path, i)  
    top_yr = os.listdir(p_i)  
    
    for j in Agg_yr:  
        p_j = os.path.join(p_i, j)  
        top_yr_list = os.listdir(p_j)  
        
        for k in top_yr_list:  
            p_k = os.path.join(p_j, k)  
            
            with open(p_k, 'r') as Data:  
             D = json.load(Data)


             if isinstance(D['data'], dict):
               district_list = D['data'].get('districts', [])
             else:
               district_list = D['data']

             for item in district_list:
              df3['District'].append(item['entityName'])
              df3['Transaction_count'].append(item['metric']['count'])
              df3['Transaction_amount'].append(item['metric']['amount'])
              df3['State'].append(i)
              df3['Year'].append(j)
              df3['Quarter'].append(int(k.strip('.json')))

top_transaction = pd.DataFrame(df3)

In [16]:
top_transaction .head()

,State,Year,Quarter,District,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,nicobars,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,2,south andaman,9395,2.394824e+07
4,andaman-&-nicobar-islands,2018,2,nicobars,1120,3.072437e+06

In [17]:
path ="C:/Users/priya/phonepe/pulse/data/top/insurance/country/india/state/"
top_state = os.listdir(path)

df3 = {
    'State': [], 
    'Year': [], 
    'Quarter': [], 
    'District': [],
    'insurance_count': [], 
    'insurance_amount': []
}

for i in top_state:  
    p_i = os.path.join(path, i)  
    top_yr = os.listdir(p_i)  
    
    for j in top_yr:  
        p_j = os.path.join(p_i, j)  
        top_yr_list = os.listdir(p_j)  
        
        for k in top_yr_list:  
            p_k = os.path.join(p_j, k)  
            
            with open(p_k, 'r') as Data:  
                D = json.load(Data)

            # Extract district-level data correctly
            if "districts" in D["data"]:
                for item in D["data"]["districts"]:
                    df3['District'].append(item['entityName'])
                    df3['insurance_count'].append(item['metric']['count'])
                    df3['insurance_amount'].append(item['metric']['amount'])
                    df3['State'].append(i)
                    df3['Year'].append(j)
                    df3['Quarter'].append(int(k.strip('.json')))

top_insurance = pd.DataFrame(df3)

In [18]:
top_insurance

,State,Year,Quarter,District,insurance_count,insurance_amount
0,andaman-&-nicobar-islands,2020,2,nicobars,3,565.0
1,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0
2,andaman-&-nicobar-islands,2020,3,south andaman,35,13651.0
3,andaman-&-nicobar-islands,2020,3,nicobars,5,1448.0
4,andaman-&-nicobar-islands,2020,3,north and middle andaman,1,281.0
...,...,...,...,...,...,...
5603,west-bengal,2024,4,paschim bardhaman,4945,7005851.0
5604,west-bengal,2024,4,paschim medinipur,4155,5405054.0
5605,west-bengal,2024,4,malda,4042,4902098.0
5606,west-bengal,2024,4,nadia,3807,5031294.0
5607,west-bengal,2024,4,purba bardhaman,3595,4482879.0

In [19]:
import os
import json
import pandas as pd

path = "C:/Users/priya/phonepe/pulse/data/top/user/country/india/state/"
top_state = os.listdir(path)

df = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'District': [],
    'Pincode': [],
    'RegisteredUsers': []
}

for i in top_state:  # loop through states
    p_i = os.path.join(path, i)
    top_yr = os.listdir(p_i)

    for j in top_yr:  # loop through years
        p_j = os.path.join(p_i, j)
        top_yr_list = os.listdir(p_j)

        for k in top_yr_list:  # loop through quarters
            p_k = os.path.join(p_j, k)

            with open(p_k, 'r') as Data:
                D = json.load(Data)

            # ✅ Extract district-level user data
            if "districts" in D["data"]:
                for item in D["data"]["districts"]:
                    df['District'].append(item['name'])
                    df['Pincode'].append(None)  # no pincode in districts
                    df['RegisteredUsers'].append(item['registeredUsers'])
                    df['State'].append(i)
                    df['Year'].append(j)
                    df['Quarter'].append(int(k.strip('.json')))

            # ✅ Extract pincode-level user data
            if "pincodes" in D["data"]:
                for item in D["data"]["pincodes"]:
                    df['District'].append(None)  # no district in pincodes
                    df['Pincode'].append(item['name'])
                    df['RegisteredUsers'].append(item['registeredUsers'])
                    df['State'].append(i)
                    df['Year'].append(j)
                    df['Quarter'].append(int(k.strip('.json')))

# Convert to DataFrame
top_user = pd.DataFrame(df)

In [20]:
top_user

,State,Year,Quarter,District,Pincode,RegisteredUsers
0,andaman-&-nicobar-islands,2018,1,south andaman,None,5846
1,andaman-&-nicobar-islands,2018,1,north and middle andaman,None,632
2,andaman-&-nicobar-islands,2018,1,nicobars,None,262
3,andaman-&-nicobar-islands,2018,1,None,744103,1608
4,andaman-&-nicobar-islands,2018,1,None,744101,1108
...,...,...,...,...,...,...
18291,west-bengal,2024,4,None,733134,169596
18292,west-bengal,2024,4,None,700059,169448
18293,west-bengal,2024,4,None,711302,146034
18294,west-bengal,2024,4,None,700150,142151
18295,west-bengal,2024,4,None,711106,142077

In [21]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:root@localhost:5432/phonepe")

In [22]:
Agg_transaction.to_sql(name="Agg_transaction",con=engine,if_exists="replace",index=False)

34

In [23]:
Agg_transaction

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [24]:
Agg_insurance.to_sql(name="Agg_insurance",con=engine,if_exists="replace",index=False)

682

In [25]:
Agg_user.to_sql(name="Agg_user",con=engine,if_exists="replace",index=False)

732

In [26]:
map_transaction.to_sql(name="map_transaction",con=engine,if_exists="append",index=False)

604

In [27]:
map_insurance.to_sql(name="map_insurance",con=engine,if_exists="append",index=False)

684

In [28]:
map_user.to_sql(name="map_user",con=engine,if_exists="append",index=False)

608

In [29]:
top_transaction.to_sql(name="top_transaction",con=engine,if_exists="append",index=False)

296

In [30]:
top_insurance.to_sql(name="top_insurance",con=engine,if_exists="append",index=False)

608

In [31]:
top_user.to_sql(name="top_user",con=engine,if_exists="replace",index=False)

296

In [32]:
Agg_transaction

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [36]:
db_URL = "postgresql://postgres:root@localhost:5432/phonepe"